{% comment %}
  @summary Global labels for accessibility

  @example
  {% render 'c_general-aria-labels' %}
{% endcomment %}

<div class="visually-hidden" aria-hidden="true">
  <span id="a11y_link_external_message">{{ 'accessibility.link.external' | t }}</span>
  <span id="a11y_link_new_window">{{ 'accessibility.link.new_window' | t }}</span>
</div>
