{%- liquid
  form 'recover_customer_password', class: 'form recover-password'
    assign recovery_form_id = 'recovery_password_form'
    assign form_errors_id = recovery_form_id | append: '_errors'
    assign form_errors_label = 'accessibility.error' | t

    echo '<div class="form-errors-wrapper form-errors-wrapper--recovery" hidden></div>'
    assign recover_title = 'customer.recover_password.title' | t
    render 'el_heading',level: 2,text: recover_title, custom_classes: 'recover-password__heading'

    assign errors = form.errors | default_errors
    echo errors

    assign recover_subtext = 'customer.recover_password.subtext' | t
    render 'c_control', content: recover_subtext, custom_classes: 'recover-password__subtext'

    capture email_input
      assign email_id = recovery_form_id | append: '_email'
      assign email_label = 'customer.login.enter_email' | t

      capture email_attributes
        if form.errors
          echo 'aria-invalid="true" aria-describedby="' | append: form_errors_id | append: '"'
        endif
      endcapture

      echo '<div class="recover-password__row">'
      render 'el_input', id: email_id, type: 'email', name: 'email',  modifiers: 'outlined, sm', attributes: email_attributes, placeholder: ' ', custom_classes: 'recover-password__input'
      render 'el_label', content: email_label, for_input: email_id, custom_classes: 'input-label recover-password__label', modifiers: 'float'
      echo '</div>'
    endcapture

    render 'c_control', content: email_input, custom_classes: 'recover-password__control'

    capture form_action
      assign submit_text = 'customer.recover_password.button_text' | t
      assign submit_id = recovery_form_id | append: '_submit'

      render 'el_button', id: submit_id, text: submit_text, custom_classes: 'recover-password__button', modifiers: 'secondary, small', type: 'submit'

    endcapture

    render 'c_control', content: form_action

  endform
-%}
