@import '../../utils/to-rem';
@import '../../utils/breakpoints';
@import '../../constants/fonts';
@import '../../constants/palette';

.engagements {
  position: relative;
  padding: to-rem(50px) 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.engagements--mobile-show {
  display: block;
}

.engagements__image {
  display: block;
  width: to-rem(100px);
  height: auto;
  margin: 0 auto to-rem(40px);
}

.engagements__text {
  margin-top: 0;
  margin-bottom: to-rem(40px);
  color: $palette-white;
  font-family: $font-family-lora;
  font-size: to-rem(20px);
  font-style: italic;
  font-weight: 400;
  letter-spacing: to-rem(2px);
  line-height: 1;
}

.engagements__background-link {
  text-decoration: none;
}

.engagements__link {
  padding-bottom: to-rem(18px);
  border: 0;
  background: $palette-white;
  color: $palette-dark-slate-grey;
  font-size: to-rem(10px);
  text-transform: uppercase;
}
