<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {%- render 'head' -%}
    {{ content_for_header }}
  </head>
  <body>
  {%- if settings.redirect_under_construction_page == true -%}
    <main id="main" class="main {% if main_classes %}{{ main_classes }}{% endif %} main--under-construction">
      {% section 'under-construction' %}
    </main>
  {%- else -%}
    {%- section 'header' -%}
    <main id="main" class="main">{{ content_for_layout }}</main>
    {%- section 'footer' -%}
    {%- render 'c_general-aria-labels' -%}
  {%- endif -%}
  </body>
</html>
