// Colour palette
//
// Naming via https://chir.ag/projects/name-that-color/
$palette-dark: #000000;
$palette-mine-shaft: #323232;
$palette-white: #ffffff;
$palette-gray: #878787;
$palette-alto: #d8d8d8;
$palette-bombay: #b0b5b9;
$palette-loblolly: #bcccd0;
$palette-ecru-white: #f2ecdf;
$palette-alabaster: #f7f7f7;
$palette-pickled-bluewood: #2f4d59;
$palette-dark-slate-grey: #324d57;
$palette-bismark: #49738c;
$palette-tom-thumb: #315435;
$palette-xanadua: #697b6b;
$palette-leather: #9c7d5e;
$palette-xanadu: #697b6b;
$palette-loblolly: #6d94ab;
$palette-cornflower-blue: #bcccd0;
$palette-silver-chalice: #9d9d9d;
$palette-quarter-pearl-lusta: #fffcf5;
$palette-concrete: #f3f3f3;
$palette-dusty-gray: #979797;
$palette-san-felix: #0d600a;
$palette-fire-bush: #e29141;
$palette-cinnabar: #e24341;
$palette-apricot: #e87f6b;
$palette-silver: #c1c1c1;
$palette-pickled-bluewood: #324d57; // Дубль?
$palette-silver: #bfbfbf;
$palette-mercury: #e6e6e6;
$palette-merino: #f8f4ea;
$palette-mercury: #e6e6e6;
$palette-merino: #f8f4ea;
$palette-bright-gray: #e8edf2;
$palette-silver-chalice-200: #aaaaaa33;
$palette-dove-gray: #666666;
$palette-white-linen: #f9f4eb;
$palette-reef: #cac2a6;
