@import '../../utils/breakpoints';
@import '../../utils/to-rem';

.date-select {
  display: flex;

  @include media-breakpoint-down(sm) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.date-select .select {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.date-select .select-wrapper + .select-wrapper {
  margin-left: to-rem(22px);
}
