{% if section.blocks.size > 0 %}
  {%- capture content -%}
    <div class="announcement-slider swiper">
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="announcement-slider__slide swiper-slide" {{ block.shopify_attributes }}>
            {%- render 'el_wysiwyg', content: block.settings.text -%}
          </div>
        {%- endfor -%}
      </div>
    </div>

    {%- liquid
      capture button_content
        render 'el_icon', icon: 'close', custom_classes: 'announcement-bar__icon'
      endcapture

      assign button_label = 'accessibility.close' | t

      render 'el_button', text: button_content, custom_classes: 'announcement-bar__close': aria_label: button_label
    -%}
  {%- endcapture -%}

  {%- liquid
    capture section_content
      render 'el_container', content: content, modifiers: 'xxl', custom_classes: 'announcement-bar__container'
    endcapture

    render 'c_section', content: section_content, name: 'announcement-bar'
  -%}
{% endif %}

<script>
  (() => {
    if (sessionStorage.getItem('wasAnnouncementBarShown') !== 'true') return;
    document.querySelectorAll('.announcement-bar').forEach((bar) => bar.remove());
  })();
</script>

{% schema %}
{
  "name": "Announcement",
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
          "id": "text",
          "type": "richtext",
          "label": "Content"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
