{%- liquid  
  capture container_content
    echo '<div class="care-info__content">'
    if section.blocks.size > 0
      echo '<div class="care-info__column care-info__column--left">'
      unless section.settings.heading == blank
        render 'el_heading', level: 2, text: section.settings.heading, custom_classes: 'care-info__heading'
      endunless
      for block in section.blocks
        if block.type == 'care_info_item' and forloop.first == true
        render 'c_care-info-item', item: block.settings, custom_classes: 'care-info__item'
        endif
      endfor
      echo '</div>'
      echo '<div class="care-info__column care-info__column--right">'
      for block in section.blocks
        if block.type == 'care_info_item' and forloop.first != true
        render 'c_care-info-item', item: block.settings, custom_classes: 'care-info__item'
        endif
      endfor
      echo '</div>'
      endif
    echo '</div>'
  endcapture
-%}

{%- liquid
  capture section_content
    render 'el_container', content: container_content, modifiers: 'xl'
  endcapture

  render 'c_section', id: section.id, name: 'care-info', content: section_content, tag: 'section'
-%}

{% schema %}
{
  "name": "Care info",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section heading"
    }
  ],
  "blocks": [
    {
      "type": "care_info_item",
      "name": "Care info item",
      "settings": [
        {
          "id": "icon_src",
          "type": "url",
          "label": "Icon link"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Block title"
        },
        {
          "id": "description",
          "type": "richtext",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}