{%- capture content -%}
  <div class="header__row">
    <div class="header__col header__col--side-menu">
      <button
        class="header__nav-toggler header-lg-hide"
        aria-expanded="false"
        aria-controls="header-drawer"
        aria-label="{{ 'sections.header.menu' | t }}"
        ></button>
      {%- render 'c_menu', id: 'side-menu', link_list: linklists.header-menu, custom_classes: 'header__side-menu header-sm-hide' -%}
    </div>
    <div class="header__col header__col--center">
      {%- render 'c_logo', custom_classes: 'header__logo' -%}
    </div>
    <div class="header__col header__col--utils">
      {%- render 'c_search-form', id: section.id, custom_classes: 'header__search' -%}
      {%- render 'c_localization', custom_classes: 'header__localization header-sm-hide' -%}
      {%- render 'c_compact-menu', custom_classes: 'header__compact-menu', store_locator_url: section.settings.store_locator_url, id: section.id, -%}
    </div>
  </div>

  <div id="header-drawer" class="header-drawer">
    {%- assign cards = section.blocks | where: 'type', 'discover' -%}
    {%- render 'c_menu', id: 'header-menu', link_list: section.settings.menu, custom_classes: 'header__menu', cards: cards -%}
    {%- render 'c_menu', id: 'drawer-side-menu', link_list: linklists.header-menu, custom_classes: 'header-drawer__secondary-menu header-lg-hide' -%}
    <div class="header-drawer__footer">
      {%- render 'c_compact-menu', custom_classes: 'header-drawer__compact-menu header-lg-hide', store_locator_url: section.settings.store_locator_url -%}
      {%- render 'c_localization', custom_classes: 'header-drawer__localization header-lg-hide' -%}
    </div>
  </div>
{%- endcapture -%}

{%- liquid
  capture section_content
    render 'el_container', content: content, modifiers: 'xxl', custom_classes: 'header__container'
  endcapture

  assign section_classes = ''

  if request.page_type == 'index'
    assign section_classes = section_classes | append: ' header--overlaying'
  endif

  if request.path contains '/policies/'
    assign section_classes = section_classes | append: ' header--border-bottom'
  endif

  render 'c_section', name: 'header', id: section.id, content: section_content, custom_classes: section_classes
-%}


{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "id": "menu",
      "type": "link_list",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Compact menu"
    },
    {
      "id": "store_locator_url",
      "type": "url",
      "label": "Store Locator URL"
    }
  ],
  "blocks": [
    {
      "type": "discover",
      "name": "Discover card",
      "settings": [
        {
          "id": "menu_item",
          "type": "text",
          "label": "Name of menu item for placement"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Card title"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Card image"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Card link"
        }
      ]
    }
  ]
}
{% endschema %}
