{%- liquid
  assign heading = section.settings.heading
  assign richtext = section.settings.richtext
  assign imageSrc = section.settings.image | image_url
-%}

{%- capture container_content -%}
  <div class="image-text__column image-text__column-image">
    {%- if section.settings.image != blank -%}
      <div class="link-wrapper">
        {% unless section.settings.url_image == blank %}
          <a class="link-wrapper__link" href="{{ section.settings.url_image }}"></a>
        {% endunless %}
        {%- if section.settings.use_gif -%}
          {%- render 'el_shopify-image', image: section.settings.image, lazy_loading: true, custom_classes: 'image-text__image' -%}
        {% else %}
          {%- render 'el_shopify-image', image: section.settings.image, lazy_loading: true, custom_classes: 'image-text__image', format: 'pjpg' -%}
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
  <div class="image-text__column image-text__column-text">
    <div class="image-text__container-text">
      {%- if heading != blank -%}
        {% assign heading_classes = 'image-text__heading' %}
        {% if section.settings.mobile_heading_italic == true %}
          {% assign heading_classes = heading_classes | append: ' image-text__heading--mobile-italic' %}
        {% endif %}
        {%- render "el_heading", level: 1, text: heading, custom_classes: heading_classes -%}
      {%- endif -%}
      {%- if richtext != blank -%}
      <div class="image-text__description">{{- richtext -}}</div>
      {%- endif -%}
    </div>
  </div>
{%- endcapture -%}

<style>
  .image-text {
    background-color: {{- section.settings.background -}};
  }
</style>

{%- liquid
  capture content
    render 'el_container', content: container_content, modifiers: 'xxl', custom_classes: 'image-text__container'
  endcapture
  render 'c_section', tag: 'div', id: section.id, name: 'image-text', content: content, class: 'image-text'
-%}

{% schema %}
{
  "name": "Image with text",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "id": "url_image",
      "type": "url",
      "label": "Link for image"
    },
    {
      "type": "checkbox",
      "id": "use_gif",
      "label": "Use gif",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id" : "mobile_heading_italic",
      "label": "Italic heading on mobile",
      "default": true
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Text content"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "image with text",
      "settings": {}
    }
  ]
}
{% endschema %}
