{%- capture section_content -%}
    {%- capture container_content -%}
        {%
          render 'c_text-preview',
          custom_classes: 'instafeed__text-preview',
          heading: section.settings.heading,
          heading_level: 2,
          description: section.settings.description,
          link: section.settings.link,
          link_title: section.settings.link_title,
          heading_modifiers: 'xs',
          target: '_blank'
        %}
        <div class="instafeed__wrap">
            <div id="insta-feed" class="instafeed__body swiper">
                <div class="instafeed__loading-progress">
                  {%- render 'c_skeleton', custom_classes: 'instafeed__skeleton' -%}
                  {%- render 'c_skeleton', custom_classes: 'instafeed__skeleton' -%}
                  {%- render 'c_skeleton', custom_classes: 'instafeed__skeleton' -%}
                  {%- render 'c_skeleton', custom_classes: 'instafeed__skeleton' -%}
                  {%- render 'c_skeleton', custom_classes: 'instafeed__skeleton' -%}
                </div>
            </div>
          <div class="instafeed__scrollbar"></div>
          <div class="instafeed__modals"></div>
        </div>
    {%- endcapture -%}
    {%- render 'el_container', content: container_content, modifiers: 'fluid', custom_classes: 'instafeed__container' -%}
{%- endcapture -%}

{%-
    render 'c_section',
    id: section.id,
    name: 'instafeed',
    content: section_content
-%}

{% schema %}
    {
        "name": "Instafeed",
        "class": "shopify-section--has-padding",
        "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Heading",
              "default": "@CYRILLUSOFFICIEL"
            },
            {
              "id": "description",
              "type": "textarea",
              "label": "Description"
            },
            {
              "id": "link_title",
              "type": "text",
              "label": "Link title"
            },
            {
              "id": "link",
              "type": "url",
              "label": "Link url"
            }
        ],
        "presets":[
            {
                "name": "Instafeed"
            }
        ]
    }
{% endschema %}
