{%- capture container_content -%}
  <div class="newsletter__subscribe">
    <div class="newsletter__subscribe_header">
      {%- render 'el_heading', level: 2, text: section.settings.heading, modifiers: 'xxs', custom_classes: 'newsletter__heading' -%}
      <div class="newsletter__sunheading">{{ section.settings.subheading }}</div>
    </div>
    {%- render 'c_newsletter-form-oz', type: 'block' -%}
  </div>

  <div class="newsletter__social">
    {%- render 'el_heading', level: 2, text: section.settings.social_heading, modifiers: 'xxs', custom_classes: 'newsletter__heading' -%}

    <ul class="newsletter__social-list">
      {%- liquid
        if settings.social_youtube_link != blank
          render 'el_social-item', icon: 'youtube', href: settings.social_youtube_link, content: '<span class="visually-hidden">Youtube</span>'
        endif

        if settings.social_instagram_link != blank
          render 'el_social-item', icon: 'instagram', href: settings.social_instagram_link, content: '<span class="visually-hidden">Instagram</span>'
        endif

        if settings.social_facebook_link != blank
          render 'el_social-item', icon: 'facebook', href: settings.social_facebook_link, content: '<span class="visually-hidden">Facebook</span>'
        endif

        if settings.social_pinterest_link != blank
          render 'el_social-item', icon: 'pinterest', href: settings.social_pinterest_link, content: '<span class="visually-hidden">Pinterest</span>'
        endif
      -%}
    </ul>
  </div>
{%- endcapture -%}

{%- liquid
  capture content
    render 'el_container', content: container_content, custom_classes: 'newsletter__container container container--xxl'
  endcapture

  render 'c_section', id: section.id, name: 'newsletter', content: content
-%}

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Subscribe"
    },
    {
      "id": "subheading",
      "type": "textarea",
      "label": "Subheading",
      "default": "Recevez nos actualités et offres personnalisées"
    },
    {
      "id": "social_heading",
      "type": "text",
      "label": "Social heading"
    }
  ],
  "presets": [{
    "name": "Newsletter",
    "category": "Promotional",
    "settings": {
    }
  }]
}
{% endschema %}
