{% liquid
  capture container_content
    form 'reset_customer_password', class: 'form reset-password__form'
      assign reset_form_id = 'reset_customer_password'
      assign form_errors_id = recovery_form_id | append: '_errors'
      assign form_errors_label = 'accessibility.error' | t

      echo '<div class="form-errors-wrapper form-errors-wrapper--reset" hidden></div>'
      assign reset_title = 'customer.recover_password.title' | t
      render 'el_heading',level: 2,text: reset_title, custom_classes: 'reset-password__heading'

      assign errors = form.errors | default_errors
      echo errors

      assign reset_subtext = 'customer.recover_password.enter_new_password' | t
      render 'c_control', content: reset_subtext, custom_classes: 'reset-password__subtext'


      capture password_input
        assign password_id = reset_form_id | append: '_password'
        assign password_label = 'customer.login.password' | t

        capture password_attributes
          if form.errors
            echo 'aria-invalid="true" aria-describedby="' | append: form_errors_id | append: '"'
          endif
        endcapture

        echo '<div class="reset-password__row">'
        render 'el_input', id: password_id, type: 'password', name: 'customer[password]',  modifiers: 'outlined, sm', attributes: password_attributes, placeholder: ' ', custom_classes: 'reset-password__input'
        render 'el_label', content: password_label, for_input: password_id, custom_classes: 'input-label reset-password__label', modifiers: 'float'
        echo '</div>'
      endcapture

      render 'c_control', content: password_input, custom_classes: 'reset-password__control'

      capture confirm_password_input
        assign confirm_password_id = reset_form_id | append: '_confirm_password'
        assign confirm_password_label = 'customer.login.confirm_password' | t

        capture confirm_password_attributes
          if form.errors
            echo 'aria-invalid="true" aria-describedby="' | append: form_errors_id | append: '"'
          endif
        endcapture

        echo '<div class="reset-password__row">'
        render 'el_input', id: confirm_password_id, type: 'password', name: 'customer[password_confirmation]',  modifiers: 'outlined, sm', attributes: confirm_password_attributes, placeholder: ' ', custom_classes: 'reset-password__input'
        render 'el_label', content: confirm_password_label, for_input: password_id, custom_classes: 'input-label reset-password__label', modifiers: 'float'
        echo '</div>'
      endcapture

      render 'c_control', content: confirm_password_input, custom_classes: 'reset-password__control'

      capture form_action
        assign submit_text = 'customer.recover_password.reset_password' | t
        assign submit_id = recovery_form_id | append: '_submit'

        render 'el_button', id: submit_id, text: submit_text, custom_classes: 'reset-password__button', modifiers: 'secondary, small', type: 'submit'

      endcapture

      render 'c_control', content: form_action

    endform
  endcapture
  capture content
    render 'el_container', content: container_content, modifiers: 'xl', custom_classes: 'reset-password__container'
  endcapture
  render 'c_section', id: section.id, name: 'reset-password', content: content
%}


