<style>
  body {
    background-color: {{ section.settings.background }};
  }
</style>
{%- capture container_content -%}
  <div class="under-construction__decoration-lines">
    <div class="under-construction__line under-construction__line--wide"></div>
    <div class="under-construction__line under-construction__line--narrow"></div>
  </div>
  {%- unless section.settings.logo == blank -%}
    <div class="under-construction__media">
      {%- render 'el_image', src: section.settings.logo, lazy_loading: true, custom_classes: 'under-construction__image' -%}
    </div>
  {%- endunless -%}
  {%- unless section.settings.content == blank -%}
    <div class="under-construction__content">
      {{ section.settings.content }}
    </div>
  {%- endunless -%}
  {%- unless section.settings.social_text == blank -%}
    <div class="under-construction__social-text">
      {{ section.settings.social_text }}
    </div>
  {%- endunless -%}

  <ul class="under-construction__social-wrapper" role="list">
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        <li class="under-construction__social-item" {{ block.shopify_attributes }}>
          {% liquid
            unless block.settings.image == blank and block.settings.url == blank
              capture link_content
                render 'el_image', src: block.settings.image, lazy_loading: true, custom_classes: 'under-construction__logo-image'
              endcapture
              render 'el_link', href: block.settings.url, custom_classes: 'under-construction__link', target: '_blank', text: link_content
            endunless
          %}
        </li>
      {%- endfor -%}
    {%- endif -%}
  </ul>
{%- endcapture -%}

{%- liquid
  capture content
    render 'el_container', content: container_content, modifiers: 'xxl'
  endcapture

  render 'c_section', id: section.id, name: 'under-construction', content: content
-%}

{% schema %}
{
  "name": "Under construction",
  "settings": [
    {
      "id": "background",
      "type": "color",
      "label": "Background color",
      "default": "#F2ECDF"
    },
    {
      "id": "logo",
      "type": "text",
      "label": "Logo url",
      "default": "https:\/\/cdn.shopify.com\/s\/files\/1\/0565\/1546\/1256\/files\/Logo_gray.svg?v=1654557286",
      "info": "It is more priority to use the image in the SVG format. To do this, you need to upload an image to the store's file system, copy path and paste it here."
    },
    {
      "id": "content",
      "type": "richtext",
      "label": "Page content",
      "default": "<p>Un peu de patience ! <br\/>Notre nouveau site va bientôt sortir <\/p>"
    },
    {
      "id": "social_text",
      "type": "richtext",
      "label": "Label for social networks links",
      "default": "<p>En attendant suivez la tribu #cyrillus :<\/p>"
    }
  ],
  "blocks": [
    {
      "type": "social_network",
      "name": "Social network",
      "settings": [
        {
          "id": "image",
          "type": "text",
          "label": "Logo URL",
          "info": "It is more priority to use the image in the SVG format. To do this, you need to upload an image to the store's file system, copy path and paste it here."
        },
        {
          "id": "url",
          "type": "url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Under construction",
      "blocks": [
        {
          "type": "social_network"
        },
        {
          "type": "social_network"
        },
        {
          "type": "social_network"
        },
        {
          "type": "social_network"
        }
      ]
    }
  ]
}
{% endschema %}
