$font-family-sweet-sans-pro: 'Sweet Sans Pro', 'Segoe UI', Tahoma, sans-serif;
$font-family-proxima-nova: 'Proxima Nova', 'Segoe UI', Tahoma, sans-serif;
$font-family-lora: 'Lora', 'Segoe UI', Tahoma, sans-serif;
